mat-list {
    mat-list-item {
        a {
            text-decoration: none;
            font-size: 12px;
            color: #707070;
        }
        a:hover {
            color: #0e4bf1;
        }
    }
}

.mdc-list-item.mdc-list-item--with-one-line {
    height: 30px;
}

.button-sair-content {
    text-align: center;
    padding: 8px 0 16px 0;
    width: 100%;

    .button-sair {
        border: 1px solid;
        color: #536dfe;
        width: 80%;
    }
}