<mat-card>
    <mat-card-header>
        <mat-card-title>Gastos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight='100px' gutterSize="15px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Item</mat-label>
                    <input type="text" id="item" [(ngModel)]="pesquisa.item" matInput>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Valor</mat-label>
                    <input type="number" step="any" id="valor" [(ngModel)]="pesquisa.valor" matInput>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Data da Compra</mat-label>
                    <input type="date" id="dataCompra" [(ngModel)]="pesquisa.dataCompra" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de Gasto</mat-label>
                    <mat-select [(ngModel)]="pesquisa.gastoTipoId">
                        <mat-option [value]="1">Gasto Fixo</mat-option>
                        <mat-option [value]="2">Gasto Variável</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="div-btn">
            <div>
                <button mat-raised-button color="primary" (click)="getGasto()">
                    <mat-icon>search</mat-icon> Pesquisar
                </button>
                <button mat-raised-button class="btn-limpar">Limpar</button>
            </div>
            <button mat-button class="btn-cadastro" [routerLink]="['create']">
                <mat-icon>add</mat-icon> Cadastrar
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="list-card" *ngIf="!listar">
    <mat-card-title>Não foram encontrados registros.</mat-card-title>
</mat-card>

<table mat-table [dataSource]="gastos" class="mat-elevation-z8" *ngIf="listar">
    <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item </th>
        <td mat-cell *matCellDef="let gasto"> {{gasto.item}} </td>
    </ng-container>
    <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let gasto"> {{gasto.valor | currency : 'R$ '}} </td>
    </ng-container>
    <ng-container matColumnDef="dataCompra">
        <th mat-header-cell *matHeaderCellDef> Data da Compra </th>
        <td mat-cell *matCellDef="let gasto"> {{gasto.dataCompra | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="gastoTipo">
        <th mat-header-cell *matHeaderCellDef> Tipo de Gasto </th>
        <td mat-cell *matCellDef="let gasto"> {{gasto.gastoTipoId == 1 ? 'Gasto Fixo' : 'Gasto Variável'}} </td>
    </ng-container>
    <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let gasto">
            <button mat-icon-button matTooltip="Editar" class="btn-edit" aria-label="editar" [routerLink]="['edit', gasto.id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Excluir" class="btn-delete" aria-label="excluir">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>